<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="index">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item" *ngIf="login">
            <a class="nav-link"  routerLink="dashboard">My videos</a>
          </li>
          <li class="nav-item dropdown">
            
            <a routerLink="login" class="nav-link" *ngIf="!login">
                logIn <i class="fa fa-user" aria-hidden="true"></i>
            </a>
            <a href="" class="nav-link" *ngIf="login" (click)=" logout()">
                logout <i class="fa fa-sign-out" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>